{% extends '/layouts/main.html' %}
{% block title %}
  Welcom back {{ session['username'] }}
{% endblock %}

{% block content %}
<section class="success" id="about">
  <div class="container">
  	<div class="row">
  		<h2>My Account</h2>
  	</div>
    <div class='row'>
      <h3>Profile</h3>
      <h4>{{ session['username']}}</h4>
      {% for attr in user_attrs %}
          {% if attr in item.keys()}
          <p>{{attr}}:  {{item[attr]}}</p>
      {% endfor %}
    </div>
    <div class='row'>
      <h3>Reviews</h3>
    </div>
      {% for item in reviews %}
      <div class="row lead">
          <h4>{{ item['Course'] }}</h4>
          <h4>Review:</h4>
          <p>{{ item['Review'] }}</p>
          {% for attr in rev_attrs %}
              {% if attr in item.keys()}
              <p>{{attr}}:  {{item[attr]}}</p>
          {% endfor %}
  	  </div>
      {% endfor %}
  </div>
</section>
{% endblock %}
