{% extends '/layouts/main.html' %}
{% block title %}
  Login to GolfRecs
{% endblock %}
{% block header %}
<header>
  <div class="container">
    <div class="row">
    	<div class="col-md-6">
          {% if request.args %}
            <p>{{ request.args.get('message') }}
          {% elif error %}
            <p><strong>Error:</strong>{{ error }}
          {% endif %}

            <form class="form-horizontal" action="" method="POST">
            <fieldset>
              <div id="legend">
                <legend class="">Login</legend>
              </div>
              <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                  <input type="text" id="username" name="username" placeholder="" class="form-control input-lg">
                  <p class="help-block">Enter username.</p>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  <input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
                  <br>
                </div>
              </div>

              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">Login</button>
                </div>
              </div>
            </fieldset>
          </form>

      </div>
    </div>
  </div>
</header>
{% endblock %}
