{% extends '/layouts/main.html' %}
{% block title %}
  Write a review
{% endblock %}
{% block header %}
<header>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="intro-text">
                  <span class="name">Review a course you've played</span>
                  <hr>
                  <span class="skills">Review as many courses as possible to get the best recommendations.</span>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock %}
{% block content %}
<section class="success" id="about">
  <div class="container">
      <div class="row">
        <div class='col-md-12'>
          <form class="form-horizontal" action="/signup" method="POST" role=form>
            {{ form.csrf_token }}
            <fieldset>
              <div id="legend">
                <legend class="">Write a Review</legend>
              </div>
              <div class="control-group">
                <label class="control-label" for="course">Select a course</label>
                <div class="controls">
                  <select name='course'>
                    <option disabled='True' selected='selected'>Select a Course</option>
                    {% for course in courses %}
                        <option value='{{ course }}'>{{course}}</option>
                    {% endfor %}
                  </select>

                  <!--<input type="text" id="username" name="username" placeholder="Username" class="form-control input-lg">
                  <p class="help-block">Username can contain any letters or numbers, without spaces</p> -->
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="review">Write a Review</label>
                <div class="controls">
                  <input type='textarea' id='review' name='review' placeholder='Write a review' class='form-control input-lg'>

                  <!--<input type="text" id="username" name="username" placeholder="Username" class="form-control input-lg">
                  <p class="help-block">Username can contain any letters or numbers, without spaces</p> -->
                </div>
              </div>


          <div id="course"></div>
          You gave a rating of <span id="count">0</span> star(s)
  	  </div>

      <div class="row lead">
          <p>Also you can give a default rating by adding attribute data-rating</p>
          <div id="stars-existing" class="starrr" data-rating='4'></div>
          You gave a rating of <span id="count-existing">4</span> star(s)
      </div>
  </div>
</section>
{% endblock %}
{% block script %}
<script src='static/js/ratings.js'></script>
{% endblock %}
