{% extends '/layouts/main.html' %}
{% block title %}
  Welcom back {{ current_user.name }}
{% endblock %}

{% block content %}
<section class="success" id="profile">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <h2>My Profile</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="col-md-3">
      <div class='row'>
        <h3>Profile</h3>
        <p>{{ current_user.username }}</p>
        {% if keys %}
          {% for key in keys %}
            <p>{{ key }}:  {{ values[loop.index0] }}</p>
          {% endfor %}
        {% else %}
          <p>It looks like you haven't set any profile attributes.</p>
        {% endif %}
          <a href='/update_profile' class="btn btn-lg btn-outline">Update Profile</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class='row'>
        <h3>My Reviews</h3>
      </div>
      <div class='row lead'>
        <a href='/review' class='btn btn-lg btn-outline'>Review a Course</a>
      </div>
      {% if not reviews %}
        <div class="row lead">
          <p>It looks like you haven't reviewed any courses yet.</p>
        </div>
      {% else %}
        {% for item in reviews %}
        {% set ratings = course_rats[loop.index0] %}
        <div class="row lead">
          <h4>{{ item['Course Name'] }}</h4>
          <p>{{ item['Location'] }}</p>
          <p><strong>Rating: </strong>{{ item['Rating'] }}</p>
          <p><strong>Review: </strong>{{ item['Review'] }}</p>
          <p>{% for attr in course_rats[loop.index0] %}
              {% if loop.index < ratings|length %}
                <strong>{{attr}}: </strong>{{item[attr]|string +  " | "}}
              {% else %}
                <strong>{{attr}}: </strong>{{item[attr]}}
              {% endif %}
          {% endfor %}</p>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
