{% extends '/layouts/main.html' %}
{% block style_ %}
  header {
    background: url(/static/img/dovemountain.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  header legend, p {
    color: black;
  }
{% endblock %}
{% block title %}
  Login to GolfRecs
{% endblock %}
{% block header %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form class=form-horizontal action="" method="POST" role=form>
          <legend>Login</legend>
          {{ form.hidden_tag() }}
          {{ form.username(placeholder='Username', class='form-control input-lg') }}
          {{ form.password(placeholder='Password', class='form-control input-lg') }}
          <br>
          <button class="btn btn-success">Login</button>
        </form>
      </div>
    	<div class="col-md-6">
          {% if request.args %}
            <p>{{ request.args.get('message') }}
          {% elif error %}
            <p><strong>Error:</strong>{{ error }}
          {% endif %}
      </div>
    </div>
  </div>
</header>
{% endblock %}
