{% extends '/layouts/main.html' %}
{% block style_ %}
  header {
    background: url(/static/img/dovemountain.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  header legend, p {
    color: black;
  }
{% endblock %}
{% block title %}
  Register for GolfRecs
{% endblock %}
{% block header %}
<header>
  <div class="container">
    <div class="row">
    	<div class="col-md-6">
          <form class="form-horizontal" action="/signup" method="POST" role=form>
          {{ form.csrf_token() }}
          <div id="legend">
            <legend class="">Register</legend>
          </div>
          <fieldset>
            {{ form.username(placeholder='Username', class='form-control input-lg') }}
            {{ form.email(placeholder='email@domain.com', class='form-control input-lg') }}
            {{ form.location(placeholder='City, State', id='location', class='form-control input-lg', style="width:175px;") }}
            {{ form.password(placeholder='Password', class='form-control input-lg')}}
            {{ form.password_confirm(placeholder='Confirm Password', class='form-control input-lg')}}
            {{ form.city(data_geo='locality') }}
            {{ form.county(data_geo='administrative_area_level_2') }}
            {{ form.state(data_geo='administrative_area_level_1') }}
            {{ form.country(data_geo='country_short') }}
            {{ form.zip_code(data_geo='postal_code') }}
            {{ form.lat(data_geo='lat') }}
            {{ form.lng(data_geo='lng') }}
            <br>
            <button class="btn btn-success" type='submit'>Register</button>
          </fieldset>
        </form>
      </div>
      <div class="col_md-6">
        {% if error %}
          {% if error is string %}
            <p><strong>Error:</strong> {{ error }}
          {% else %}
            {% for field, err in error.items() %}
              <p><strong>Error:</strong> {{ '{}: {}'.format(form[field].label.text, err) }}
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block script %}

<script type="text/javascript">
$(function(){
  $(" #location").geocomplete({
    details: "form",
    detailsAttribute: "data-geo"
  });
})
</script>

{% endblock %}
