{% extends '/layouts/main.html' %}
{% block style_ %}
  header {
    background: url(/static/img/dovemountain.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  header legend, p {
    color: black;
  }
{% endblock %}
{% block title %}
  Register for GolfRecs
{% endblock %}
{% block header %}
<header>
  <div class="container">
    <div class="row">
    	<div class="col-md-6">
          <form class="form-horizontal" action="/signup" method="POST" role=form>
          {{ form.hidden_tags() }}
          <fieldset>
            <div id="legend">
              <legend class="">Register</legend>
            </div>
            <div class="control-group">
              {{ form.username(placeholder='Username', class='form-control input-lg') }}
              {{ form.email(placeholder='email@domain.com', class='form-control input-lg') }}
              {{ form.city(placeholder='City', class='form-control input-lg') }}
              <select name="{{ form.state.name }}" class='form-control input-lg'>
                {% for option in form.state %}
                  {{ make_option(option) }}
                {% endfor %}
              </select>
              {{ form.password(placeholder='Password', class='form-control input-lg')}}
              {{ form.password_confirm(placeholder='Confirm Password', class='form-control input-lg')}}
            </div>
            <br>
            <div class="control-group">
              <div class="controls">
                <button class="btn btn-success" type='submit'>Register</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col_md-6">
        {% if error %}
          {% if error is string %}
            <p><strong>Error:</strong> {{ error }}
          {% else %}
            {% for field, err in error.items() %}
              <p><strong>Error:</strong> {{ '{}: {}'.format(form[field].label.text, err) }}
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</header>
{% endblock %}
