{% extends '/layouts/main.html' %}
{% block title %}
  Update your profile
{% endblock %}

{% block content %}
<section class='success' id='profile'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        {% if error %}
          <p><strong>Error:</strong> {{ error }}
        {% endif %}
        <form class="form-horizontal" action="/update_profile" method="POST" role=form>
          {{ form.csrf_token() }}
          <legend>Update Profile</legend>
          {{ form.age(placeholder='Age', class="form-control input-md", style="width:50px;") }}
          <select name="{{ form.gender.name }}" class='form-control input-md' style="width:250px;">
            {% for option in form.gender %}
              {{ make_option(option) }}
            {% endfor %}
          </select>
          <select name="{{ form.skill.name }}" class='form-control input-md' style="width:250px;">
            {% for option in form.skill %}
              {{ make_option(option) }}
            {% endfor %}
          </select>
          <select name="{{ form.handicap.name }}" class='form-control input-md' style="width:250px;">
            {% for option in form.handicap %}
              {{ make_option(option) }}
            {% endfor %}
          </select>
          <select name="{{ form.plays.name }}" class='form-control input-md' style="width:250px;">
            {% for option in form.plays %}
              {{ make_option(option) }}
            {% endfor %}
          </select>
          {{ form.location(placeholder='City, State', id='location', class='form-control input-md', style="width:250px;") }}
          {{ form.city(data_geo='locality') }}
          {{ form.county(data_geo='administrative_area_level_2') }}
          {{ form.state(data_geo='administrative_area_level_1') }}
          {{ form.country(data_geo='country_short') }}
          {{ form.zip_code(data_geo='postal_code') }}
          {{ form.lat(data_geo='lat') }}
          {{ form.lng(data_geo='lng') }}
          <br>
          <button class="btn btn-success" type='submit'>Update</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block script %}

<script type="text/javascript">
$(function(){
  $(" #location").geocomplete({
    details: "form",
    detailsAttribute: "data-geo"
  });
})
</script>

{% endblock %}
