{% extends '/layouts/main.html' %}
{% block title %}
  Update your profile
{% endblock %}

{% block content %}
<section class='success' id='profile'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        {% if error %}
          <p><strong>Error:</strong> {{ error }}
        {% endif %}
        <form class="form-horizontal" action="/update_profile" method="POST" role=form>
          {{ form.csrf_token() }}
          <legend>Update Profile</legend>
          {{ form.age(placeholder='Age', class="form-control input-md", style="width:50px;") }}
          <select name="{{ form.gender.name }}" class='form-control input-md' style="width:250px;">
            {% for option in form.gender %}
              {{ make_option(option) }}
            {% endfor %}
          </select>
          <select name="{{ form.skill.name }}" class='form-control input-md' style="width:250px;">
            {% for option in form.skill %}
              {{ make_option(option) }}
            {% endfor %}
          </select>
          <select name="{{ form.handicap.name }}" class='form-control input-md' style="width:250px;">
            {% for option in form.handicap %}
              {{ make_option(option) }}
            {% endfor %}
          </select>
          <select name="{{ form.plays.name }}" class='form-control input-md' style="width:250px;">
            {% for option in form.plays %}
              {{ make_option(option) }}
            {% endfor %}
          </select>
          {{ form.location(placeholder='City, State', id='location', class='form-control input-md', style="width:250px;") }}
          {{ form.city(id='locality') }}
          {{ form.state(id='administrative_area_level_1') }}
          {{ form.country(id='country') }}
          {{ form.lat(id='lat') }}
          {{ form.lng(id='lng') }}
          <br>
          <button class="btn btn-success" type='submit'>Update</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block script %}

<script src="static/js/google.maps.autocomplete.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Uhuk3sK3IvsH0dSAC7yNs0w7ZuR5--U&libraries=places&callback=initAutocomplete"></script>

{% endblock %}
